<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/entradas-e-saidas.css">
     <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
    <title>Entradas e saídas</title>
</head>

<body>
    <header>
        <nav>
            <a href="../index.html"><img class="logo" src="/img/logo-dda.png" alt="logo-dda"></a>
            <h1>Histórico</h1>
        </nav>
    </header>
    <main>
        <div class="adicionar-cor">
        <section class="filtro">
            <h2>Filtro</h2>
            <form id="form-id">
                <input type="text" placeholder="Classe" id="input-id">
                <button type="submit">Buscar</button>
            </form>
            <div class="tabela-responsiva">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Classe</th>
                            <th>Quantidade</th>
                            <th>Preço</th>
                            <th>Função</th>
                        </tr>
                    </thead>
                    <tbody id="minha-tabela-filtro">
                        
                    </tbody>
                </table>
            </div>
        </section>
        </div>
        <section class="entrada">
            <h2>Entradas</h2>
            <div class="tabela-responsiva">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Classe</th>
                            <th>Quantidade</th>
                            <th>Preço</th>
                            <th>Nota Fiscal</th>
                        </tr>
                    </thead>
                    <tbody id="tabela-entradas">
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <script src="/scripts/entradas-e-saidas.js"></script>
</body>

</html>