<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css"
    <title>login</title>
</head>
<body>
    <div class="box_login">
        <header>
            <h1>
                login
            </h1>
        </header>
        <div>
            <label for="">Nome de usuario</label>
            <input type="text">
        </div>

        <div class="campo-senha">
            <label for="">Senha</label>
            <input type="password" id="senha" placeholder="Digite sua senha">
            <button type="button" class="btn-toggle" onclick="alternarVisibilidade()">ver</button>
        </div>
    </div>

    <Script src="../scripts/login.js"></Script>
</body>
</html>